.cage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: $clr_3;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  .cage-header {
    display: flex;
    align-items: center;
    padding: 1rem 2.2rem 0 2.2rem;
    .header-title {
      display: flex;
      align-items: center;
      .title-text {
        color: #363636;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin: 0 0 0 1rem;
      }
    }
    .header-separator {
      flex: 1 1 auto;
      background-color: #222121;
      height: 1px;
      margin: 0 30px;
    }
  }
  .cage-main {
    display: flex;
    margin: 0 0 0 3rem;
    .main-table {
      display: flex;
      flex-direction: column;
      width: 62rem;
      .table-header {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0 .7rem;
        .table-title {
          color: #363636;
          text-transform: uppercase;
        }
        .table-count {
          color: #363636;
        }
      }
      .table-main {
        background: #2D2D2D;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-cards {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          padding: 0 0 0 .5rem;
          &::-webkit-scrollbar {
            width: 1.5rem;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 .5rem .5rem #242323;
            border: solid .5rem transparent;
            margin: .6rem;
          }
          &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 .5rem .5rem #FFFDFD;
            border: solid .5rem transparent;
          }
          .cards-item {
            flex: 0 1 calc(33.333% - 2rem);
            margin: 1rem;
            height: 5rem;
            display: flex;
            justify-content: space-between;
            background-color: #242323;
            padding: .75rem;
            border-radius: .2rem;
            &.active {
              background: #219653;
            }
            .card-img {
              width: 46%;
            }
            .card-desc {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
        }
        .main-warn {
          display: flex;
          flex-direction: column;
          .warn-img {
            align-self: center;
          }
          .warn-title {
            align-self: center;
            margin: 1.2rem 0 0 0;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
          }
          .warn-text {
            font-size: .8rem;
          }
        }
      }
      .table-actions {
        display: flex;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        .actions-btn {
          border: 0;
          outline: 0;
          background-color: #171717;
          width: 50%;
          height: 2.2rem;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
          &:first-child {
            border-right: 1px solid rgba(255, 255, 255, 0.7);
          }
          &:last-child {
            border-left: 1px solid rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
    .main-info {
      color: #363636;
      width: 15rem;
      font-size: 1.2rem;
      margin: 1.4rem 0 0 2.2rem;
    }
  }
  .cage-action {
    margin: 0 0 3rem 3rem;
    width: 16rem;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    background: #363636;
  }
  .cage-character {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22rem;
  }
}
